.nav {  
    display: flex;
    gap: 32px;

    &__link {
        @include link;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &__link {
            font-size: 50px;
            font-family: $font-title;
            pointer-events: none;
        }
    }
}

@media (max-width: 375px) {
    .nav {
        gap: 24px;
        
        &__link {
            font-size: 34px;
        }
    }
}