@import "reset";
@import "config";
@import "nav";
@import "burger";
@import "header";
@import "intro";
@import "about";
@import "works";
@import "footer";


body {
    font-size: 15px;
    line-height: 1.2;
    font-family: sans-serif;
}

.container {
    padding: 0 24px;
    width: 84%;
    height: 100%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .header.active .nav {
        display: flex;
    }
}